.project-img {
  height: 200px;
  width: 300px;
  border: 1px solid grey;
}

.project-container-left {
  background-color: #d5daef;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 15px;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.project-container-right {
  background-color: #8ea0e7;
  color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 50px 80px 50px 80px;
  font-size: 15px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

.project-focus > span {
  color: orangered;
  font-size: 16px;
}

.project-link {
  margin-right: 30px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4px 14px;
  background-color: white;
}

.project-link:active {
  color: black;
}

.project-link:hover {
  background-color: #a1eacd;
  border: 1px solid #a1eacd;
}

.project-title-left {
  color: rgb(63, 63, 200);
  font-size: 20px;
  margin-bottom: 0px;
}

.project-title-right {
  color: rgb(39, 18, 102);
  font-size: 20px;
  margin-bottom: 0px;
}

@media (max-width: 1100px) {
  .project-img {
    margin-top: 14px;
  }

  .project-container-right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-container-left {
    justify-content: center;
  }

  .project-container-left :nth-child(1) {
    order: 1;
  }

  .project-container-right :nth-child(1) {
    order: -1;
  }

  .project-text-container :nth-child(1) {
    order: -2;
  }

  .project-container-left {
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .project-container-right {
    margin: 0 10px 0 10px;
    border-bottom: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #ffe6e1;
    border-top: 1px solid white;
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 5px;
  }
  .project-container-left {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: none;
    border-left: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #ffe6e1;
    border-top: 1px solid white;
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 5px;
  }

  .project-img {
    margin-top: 20px;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .project-container-right {
    justify-content: center;
  }
  .project-container-left {
    justify-content: center;
  }
}
