.project-img {
  height: 200px;
  width: 320px;
  border: 1px solid black;
}

.project-container-left {
  background-color: #d5daef;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 15px;
  box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px;
  border-radius: 20px;
}

.project-container-right {
  background-color: #8ea0e7;
  color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 30px 80px 30px 80px;
  font-size: 15px;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.project-text-container {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

.project-focus > span {
  color: orangered;
  font-size: 16px;
}

.project-btn {
  margin-right: 30px;
  width: 70px;
  font-size: 14px;
}

.project-btn a {
  text-decoration: none;
}

.project-title-left {
  color: rgb(63, 63, 200);
  font-size: 20px;
}

.project-title-right {
  color: rgb(39, 18, 102);
  font-size: 20px;
}
