.about-me-section {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
}

.about-me-content {
  margin: 0 140px 0 140px;
  margin-bottom: 8px;
}

.my-photo-img {
  height: 240px;
  width: 230px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-photo-container {
  text-align: center;
  margin-top: 20px;
}

.pill-img {
  height: 18px;
}

div section p {
  line-height: 1.6;
  margin-left: 80px;
  padding: 40px 50px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(253, 254, 255);
  border-radius: 10px;
  border-bottom: 3px solid rgb(204, 63, 86);
  border-right: 3px solid rgb(204, 63, 86);
}

button {
  width: 140px;
  height: 35px;
  font-size: 18px;
  background-color: white;
  color: rgb(30, 144, 255);
  padding: 5px;
  border-radius: 100px;
  border: 1px solid white;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
  padding: 5px;
  background-color: #a1eacd;
  color: rgb(46, 45, 45);
  border: 1px solid #a1eacd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.logos {
  margin: 8px 8px 0 6px;
  padding: 3px;
}

.linkedIn-logo {
  height: 32px;
  width: 32px;
}

.github-logo {
  height: 35px;
  width: 35px;
}

.logos:hover {
  cursor: pointer;
  padding: 0px;
}

@media (max-width: 1300px) {
  .my-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .about-me-content {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 1000px) {
  .about-me-section {
    display: block;
    margin-left: 0;
    margin-right: 10px;
  }

  div section p {
    margin-left: 0;
    padding: 15px;
  }
}
