header {
  background-color: #394ff4;
  color: white;
  box-shadow: rgba(132, 132, 153, 0.25) 0px 13px 27px -5px,
    rgba(55, 53, 53, 0.3) 0px 8px 16px -8px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
  margin-top: 0px;
  align-items: center;
}

header nav li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  position: relative;
}

header nav li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff6347;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

header nav li a:hover::before {
  transform: scaleX(1);
}

.fixedNavbar {
  position: sticky;
  top: 0;
}

.header-img {
  height: 70px;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .header-img {
    display: none;
  }

  header nav ul {
    margin: 20px auto;
  }
}

@media (max-width: 400px) {
  header nav li {
    display: flex;
    flex-direction: column;
  }

  header nav li a {
    align-self: center;
    margin-right: 0px;
  }

  header nav ul {
    margin: 0 auto;
    padding: 0px;
  }
}
