@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  margin: 0;
  /* background-color: #fddcd6; */
  background-color: #ffe6e1;
}

.projects-page-div {
  margin: 0 200px 30px 200px;
  padding: 20px;
  border-radius: 10px;
}

.projects-page-title {
  margin: 20px 30px 10px 100px;
  padding: 10px;
  color: rgb(83, 83, 83);
  text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.projects-page-title span {
  color: #1c2273;
}
